body {
    margin: 0;
    height: 100vh;
    background-image: url("../images/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.portal {
    width: 200px;
    height: 200px;
    user-select: none;
}

.rocket {
    animation: rotate 20s linear infinite;
}

.color {
    color: white;
}

.boxes {
    display: flex;
}

.box-clicker {
    width: 20%;
    height: 80vh;
    max-height: 80vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(55, 50, 255, 60%);
}

.clicker {
    width: 90%;
    height: 20%;
    border: 1px solid black;
    background-color: burlywood;
    margin: 10px;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Rotation initiale */
        width: 90%;
    }
    50% {
        transform: rotate(180deg); /* Rotation complète */
        width: 100%;
    }
    100% {
        transform: rotate(360deg); 
        width: 90%;
    }
}